.ubicacion--perfil{
  width: 50%;
  height: 90px;
  margin:30px auto 0 auto;
  padding:20px 0 0 50px;
  @include box;
  i {
    display: block;
    float: left;
    padding-right: 10px;
    font-size: 40px;
    color:$variation-color;
  }
  h2 {
    font-weight: 600;
    font-size: 20px;
    font-family: $secondary-font;
  }
  h3 {
    font-size:12px;
    font-family: $secondary-font;
    color:get_opacity($primary-color,.50);
  }
}
